// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
$color-primary: #3277ba;
$color-primary2: #1b84ff;
$color-brand: #75bcde;
$color-blue: #e8f6fc;
$color-blue2: #f4fbfe;
$color-gray: #f6f8f7;
$color-accent: #e3a807;
$color-attention: #f60856;
$color-attention2: rgba(246, 8, 86, 0.1);
$color-light: #e1e4e8;
$color-title: #092e44;
$color-button: #e4e4e4;
$color-white: #fff;
$color-content: #363636;
$color-black: #000;
$color-info-sub: #b8babb;
$color-info-main: #737678;
$color-link: #6ab9e7;
$color-green: #46be28;
$color-gray-disabled: #f4f4f4;
$color-purple: #5f539a;

$white: #fff;
$black: #000;

$primary-100: #ebf1f8;
$primary-400: #3e8cc8;
$primary-600: #3457a6;
$primary-700: #2a4685;

$success-500: #11cda0;
$success-600: #06bd91;

$secondary-100: #e0e6f2;
$secondary-300: #9ea3b6;
$secondary-500: #3d476c;
$secondary-600: #313956;

$neutral-100: #f8fbfc;
$neutral-200: #dfe3e5;
$neutral-300: #bbc8d1;
$neutral-400: #889ba9;
$neutral-500: #6a8294;
$neutral-600: #556876;
$neutral-700: #37434d;
$neutral-800: #222b30;

// Colors override boostrap
$primary: $color-primary;
$danger: $color-attention;
$warning: $color-accent;
$cyan: $color-brand;
$success: $color-green;
$info: $color-title;

// Shadows
$shadow: 0 1px 2px rgba(9, 46, 68, 0.3);
$shadow2: 0 4px 8px rgba(9, 46, 68, 0.3);
$shadow3: 2px 2px 4px 1px rgba(9, 46, 68, 0.2);
$shadow4: 0 4px 8px rgba(9, 46, 68, 0.3);
