// ======================================================
// Components :: Icons
// ======================================================

.minicon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;

  &--store,
  &--user,
  &--avatar,
  &--tooltip,
  &--download,
  &--file {
    @include square(24px);
  }

  &--store {
    background-image: url(#{$path-image}/icon-store.svg);
  }

  &--user {
    background-image: url(#{$path-image}/icon-user.svg);
  }

  &--avatar {
    background-image: url(#{$path-image}/icon-avatar.svg);
  }

  &--tooltip {
    background-image: url(#{$path-image}/icon-tooltip.svg);
  }

  &--download {
    background-image: url(#{$path-image}/icon-download-2.svg);
  }

  &--file {
    background-image: url(#{$path-image}/icon-file.svg);
  }

  &--search-link {
    width: 10px;
    height: 13px;
    background-image: url(#{$path-image}/icon-search-link.svg);
  }

  &--edit {
    @include circle(30px);
    background-image: url(#{$path-image}/icon-edit.svg);
  }

  &--edit-note {
    @include square(12px);
    background-image: url(#{$path-image}/icon-edit-note.svg);
  }

  &--print {
    @include square(12px);
    background-image: url(#{$path-image}/icon-print.svg);
  }
}
