// ======================================================
// Components :: Typo
// ======================================================

.heading {
  color: $color-black;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;

  &--h2 {
    font-size: $font-size-2xl;

    + .title__icon {
      padding-top: 3px;
    }
  }

  &--h3 {
    font-size: 21px;
  }

  &--h4 {
    font-size: $font-size-base;
  }

  &--h5 {
    font-size: $font-size-small;
  }
}
