//-------------------------------------------------------
//- Common :: Pagination
//-------------------------------------------------------
mixin pagination()
  .paging&attributes(attributes)
      .paging__page
        ul.pagination
          li.page-item
            a.page-control(href="#" aria-label="Previous")
              span.material-icons-outlined keyboard_double_arrow_left
          li.page-item
            a.page-link.paging__link.paging__link--active(href="#") 1
          li.page-item
            a.page-link.paging__link(href="#") 2
          li.page-item
            a.page-link.paging__link(href="#") ...
          li.page-item
            a.page-link.paging__link(href="#") 6
          li.page-item
            a.page-link.paging__link(href="#") 7
          li.page-item
            a.page-control(href="#" aria-label="Next")
              span.material-icons-outlined keyboard_double_arrow_right
