//- Heading
//- @title {string} - text
//- @type {boolean} - tag h2 or h3
mixin heading({ title='', type='h2' })
  if type === 'h3'
    h3.heading.heading--h3&attributes(attributes)= title
  else if type === 'h4'
    h4.heading.heading--h4&attributes(attributes)= title
  else if type === 'h5'
    h5.heading.heading--h5&attributes(attributes)= title
  else
    h2.heading.heading--h2&attributes(attributes)= title

//- Heading has tooltip
//- @title {string} - text
//- @type {boolean} - tag h2 or h3
//- @description {string} - description tooltip
//- @tooltip {boolean} - show tooltip
mixin title-tooltip({ title='', description='', type='h2' })
  .title
    if type === 'h3'
      h3.heading.heading--h3&attributes(attributes)= title
    else
      h2.heading.heading--h2&attributes(attributes)= title
    button.title__icon.js-toggle-popover
      +icon-bg('tooltip')
      .title__description
        p.title__description__content !{description}
