extends modules/layout/_page-has-login

block head
  +head('Courses')

block main
  .slide
    .container
      .main-slide
        each item in [1, 2, 3]
          .slide__item
            .slide-left
              h3.slide__title Khóa học thiết kế trải nghiệm người dùng
              p.slide__text từ Đại học Bách Khoa Hà Nội
              .slide__control
                a.btn.btn-md(href="") Tham gia học ngay
                p.slide__note 234,500 người đã tham gia
            .slide-right
              img(src="images/slide-1.jpg", alt="")
  .course
    .container
      .course__inner
        +heading({
          title: 'Tất cả khóa học (16)'
        })
        .course__list
          each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
            .course__item.card.js-card
              .card__detail
                .card__detail__inner
                  .card__detail__group
                    +heading({
                      title: 'Lập trình Python căn bản',
                      type: 'h3'
                    })
                    p.card__text SoICT - IT4651
                    p.card__detail__text Học Python dễ dàng với giáo trình dành cho người mới bắt đầu và thực hành xây dựng chương trình Python thực thụ.
                    ul.card__detail__list
                      li.card__detail__item Bài giảng đầy đủ và chi tiết
                      li.card__detail__item 5 chương trình Python có sẵn cho tham khảo
                      li.card__detail__item Được tư vấn từ kỹ sư thiết kế Python chuyên nghiệp
                    a.btn.btn-primary(href="") Vào học ngay

              .card__avatar
                img(src="https://via.placeholder.com/267x155", alt="")
              a.card__description(href="")
                h3.card__title Lập trình Python căn bản
                p.card__text SoICT - IT4651
                p.card__text.mt-auto Bắt đầu: 25/07/2021
        +pagination()
